// Colors
$primary: #00CCBD;
$secondary: #00403c;

//Fonts
$font-family-sans-serif:  'Source Sans Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 300;
$headings-line-height: 1.8;

$link-decoration: none;
