@import "src/scss/site/_variables.scss";
@import "src/scss/bootstrap/bootstrap-simple.scss";


.section {
  height: 100vh;
}

.hello {
  font-weight: 700;
  border-bottom: 4px solid $primary;
  text-decoration: none;
  color: $black;
}

.text-white {
  a {
    color: $white;
  }
}

.dash {
  height: 2px;
  width: 50px;
  background-color: $white;
}

.hello-thing {
  text-decoration: none;
  font-weight: bold;
  margin-right: .5rem;
  border-bottom: 2px solid;
  text-transform: uppercase;
}
